@import url('https://fonts.googleapis.com/css?family=Poppins:400,600i&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: none;
    padding: none;
}

#main {
    height: 100vh;
    width: 100vw;
    background: #fafafa;
    background: -webkit-linear-gradient(to top, rgb(254, 254, 254), rgb(249, 249, 250));  
    background: linear-gradient(to top, rgb(254, 254, 254), rgb(249, 249, 250));
    display: flex;
    }
    /* #fdfefe; */

#homeT {
    position: relative;
    top: 160px;
    left: 300px;
    height: 300px;
    margin: 0;
    padding: 0;
    text-align: center;
}


#name {
    opacity: .7;
    font-weight: 600;
    font-size: 12em;
    padding: none;
    font-family: 'Poppins', sans-serif;
    color: black;
}

#sub {
    font-size: 50px;
    color: black;
    position: relative;
    bottom: 50px;
}

#butt {
    font-size: 50px;
    opacity: .5;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-transform: none;
    border-radius: 30px;
    position: relative;
    bottom: 30px;
    color: black;
    border: 2px solid rgba(0, 0, 0, .5);
}

#butt:hover {
    opacity: .9;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, .5);
}

.home {
}

#photo img {
    width: 700px;
    height: 580px;
}

#photo {
    width: 700px;
    height: 580px;
    position: relative;
    top: 140px;
    left: 250px;
    margin: 0;
    padding: 0;
}
