@import url('https://fonts.googleapis.com/css?family=Poppins:400,600i&display=swap');

img {
    height: 35px;
    width: 35px;
}

.all {
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffffff, rgb(171, 186, 171)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row;
}

 .crypto {
    margin-left: 25px;
}

.title {
    padding-top: 120px;
    padding-bottom: 30px;
    font-size: 40px;
    font-weight: 600;
    margin-left: 280px;
    opacity: .7;
}

#coin {
    width: 330px;
    height: 60px;
    border-radius: 10px;
    background-color: #dfe3e6;
    border: 2px solid grey;
    box-shadow: 3px 3px 5px rgba(0,0,0, 0.6);
    margin: 15px;
    position: relative;
    right: 60px;
}

#coin:hover {
    background-color: #c5ccd1;
    box-shadow: 5px 5px 8px rgba(0,0,0, 0.8);

}

.added {
    float: right;
    font-size: 20px;
    position: relative;
    padding-top: 165px;
    left: 100px;
}

.added p {
    font-size: 26px;
}

.list {
    list-style: none;
}

.list img {
    height: 35px;
    width: 35px;
    margin-right: 40px;
}

.button {
    width: 30px;
}

.button:hover {
    width: 30px;
}