
#darkMode {
    background-color: rgb(40, 40, 40);
    width: 100%;
    min-height: 80px;
    padding-top: 8px;
}

#lightMode {
    background-color: rgb(231, 234, 239);
    width: 100%;
    min-height: 80px;
    padding-top: 8px;
}

#title {
    font-size: 30px;
    font-weight: 600;
    padding: none;
    margin-right: 80px;
    width: 30px;
    color: rgb(231, 234, 239);
}

#titleD {
    font-size: 30px;
    font-weight: 600;
    padding: none;
    margin-right: 80px;
    width: 30px;
    color: rgb(40, 40, 40);
}

#navLink {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-left: 35px;
    color: rgb(231, 234, 239);
}

#navLinkD {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-left: 35px;
    color: rgb(40, 40, 40);
}

#lang {
    color: rgb(231, 234, 239);
    font-size: 21px;
    font-weight: 600;
}

#langD {
    color: rgb(40, 40, 40);
    font-size: 21px;
    font-weight: 600;
}

.switch {
    width: 30px;
    padding: none;
    margin-left: 30px;
}
