img {
    height: 35px;
    width: 35px
}

.mylist td {
    padding: 5px 5px;
    color: white;
    border: 3px solid grey;
    background-color: #294f6d;
}

.main {
    margin-left: 200px;
    margin-top: 80px;
    font-weight: 400;
    font-size: 18px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.deleteAll {
   
}

.dark {
    color: white;
}

.light {
    color: black;
}